<nav class="py-4">
  <div class="flex justify-end px-4">
    @if (auth.currentUser$ | async; as currentUser) {
      <button
        (click)="showDrawer()"
        class="rounded-full border-2 border-primary-100 p-1 hover:border-primary-50"
      >
        <img
          [ngSrc]="currentUser.picture"
          width="32"
          height="32"
          alt="profile image"
          class="size-8 rounded-full"
        />
      </button>
    } @else {
      <a
        [href]="LOGIN_URL"
        id="google_sign_in_button"
        class="button mb-2 flex items-center gap-3 bg-primary-200 py-2 px-3 hover:bg-primary-100 rounded-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="size-4.5"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
          />
        </svg>
        <div class="text-sm">
          Sign in <span class="hidden sm:inline">with Google</span>
        </div>
      </a>
    }
  </div>
</nav>
<div #drawer class="flex flex-col gap-6 drawer p-5">
  @let user = auth.currentUser$ | async;

  @if (user) {
    <section id="profile" class="flex items-center gap-4">
      <img
        class="rounded-full"
        [ngSrc]="user!.picture"
        width="54"
        height="54"
        alt="profile image"
      />
      <h2 class="text-lg">{{ user.given_name }} {{ user.family_name }}</h2>
    </section>
  }
  <ul class="flex flex-col gap-2">
    <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/mail/inbox" routerLinkActive="active">Mail</a></li>
    @if (user?.is_admin) {
      <li>
        <a routerLink="control-panel" routerLinkActive="active"
          >Control Panel</a
        >
      </li>
    }
    <li><button (click)="logout()">Logout</button></li>
  </ul>
</div>

@if (isDrawerOpen()) {
  <div
    id="drawer_wrapper"
    class="drawer-wrapper backdrop-blur-xs"
    (click)="hideDrawer()"
  ></div>
}
