<main class="flex h-full">
  <aside class="border-r border-t border-primary-200 p-4">
    <ul class="flex flex-col gap-2">
      <li>
        <a class="button" routerLinkActive="active" routerLink="/mail/inbox"
          >Inbox</a
        >
      </li>
      <li>
        <a class="button" routerLinkActive="active" routerLink="/mail/sent"
          >Sent</a
        >
      </li>
    </ul>
  </aside>
  <section class="border-t border-primary-200 w-full h-full">
    <router-outlet />
  </section>
</main>
