<div class="flex h-full">
  <aside>
    <h1 class="p-4 text-lg">Inbox</h1>
    <ul>
      @for (email of emails(); track email.email_id) {
        <li>
          <button
            (click)="selected.set(email)"
            class="flex flex-col gap-1.5 px-4 hover:bg-primary-100/30 border-y first:border-b-0 py-4 border-primary-200 w-full"
            routerLinkActive="bg-primary-100/45"
            routerLink="/mail/inbox/{{ email.email_id }}"
          >
            <div class="font-medium">
              {{ email.from.given_name }} {{ email.from.family_name }}
            </div>
            <div class="text-sm">{{ email.subject }}</div>
            <p class="text-sm line-clamp-2 text-left">
              {{ email.body }}
            </p>
          </button>
        </li>
      }
    </ul>
  </aside>
  <div class="w-full">
    <app-email [email]="selected()" />
  </div>
</div>
