<main class="pb-4">
  <div class="container flex flex-col gap-6">
    <h1 class="text-xl">Users ({{ users().length }})</h1>
    @if (!isLoading()) {
      <ol class="grid grid-cols-1 md:grid-cols-2 gap-4">
        @for (user of users(); track user.id) {
          <li class="contents">
            <div
              class="flex gap-4 items-center border border-primary-200 rounded-lg p-3"
            >
              <img
                [ngSrc]="user.picture"
                width="42"
                height="42"
                class="rounded-full"
                alt="Profile picture"
              />
              <div>
                <h2 class="flex gap-2 items-center text-lg">
                  {{ user.given_name }} {{ user.family_name }}
                  @if (user.verified) {
                    <div class="text-sky-600">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
                        />
                      </svg>
                    </div>
                  }
                  @if (user.is_admin) {
                    <app-badge><span class="text-xs">Admin</span></app-badge>
                  }
                </h2>
                <p>
                  <a class="text-link" href="mailto:{{ user.email }}">{{
                    user.email
                  }}</a>
                </p>
                <p class="text-xs">Joined {{ user.created_at | date }}</p>
              </div>
            </div>
          </li>
        }
      </ol>
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        @for (i of [0, 1, 2, 3, 4, 5]; track i) {
          <div
            class="flex items-center border border-primary-200 rounded-lg p-3"
          >
            <div class="flex gap-4 items-center animate-pulse w-full">
              <div class="shrink-0 size-12 rounded-full bg-primary-100"></div>
              <div class="flex flex-col gap-2 h-full w-full">
                <div class="block w-1/2 h-5 rounded-lg bg-primary-100"></div>
                <div class="block w-24 h-5 rounded-lg bg-primary-100"></div>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</main>
